$footer-background-color: #f5f5f5;
$footer-padding: 1rem;
$family-primary: "Muli";
$family-secondary: "Montserrat";
// $card-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
$card-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.12);

@import "../../node_modules/bulma/bulma.sass";
@import "~bulma-divider";
@import "~bulma-tooltip";

body,
html {
  margin: 0;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

.hero {
  h1 {
    font-size: 2.2rem;
  }
}

.heroBg {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.highlight {
  background: rgb(255, 221, 87);
}

.button {
  text-transform: uppercase;

  &--hero {
    margin: 0 0 1em 0;
  }
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-family: $family-secondary;
  font-size: 20px;
}

.highlight-logo {
  box-shadow: inset 0 -12px 0 $warning;
}

h1 {
  font-size: 2em;
  font-family: $family-secondary;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.card {
  border-radius: 5px;
}

.showcase-card {
  display: flex;
  align-items: center;
  margin-bottom: 100px;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .showcase-img {
    width: 120vw;
  }

  .showcase-details {
    padding: 0 50px;
  }
}

.showcase-card:last-child {
  margin-bottom: 0;
}

.image {
  overflow: hidden;

  .workitemImg {
    transition: all 0.4s ease-in-out;
    border-radius: 5px 5px 0 0;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.aboutIcons {
  height: 2.5em;
  pointer-events: none;

  &--ts {
    fill: #007acc;
  }

  &--vs {
    fill: #007acc;
  }

  &--gu {
    fill: #da4648;
  }

  &--wp {
    fill: #8dd6f9;
  }

  &--xd {
    fill: #ff2bc2;
  }
}

.link {
  color: #4a4a4a;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: inset 0 -10px 0 $warning;
  }
}

.fbIcon,
.liIcon,
.ghIcon,
.gmIcon {
  transition: all 0.2s ease-in-out;
}

.fbIcon:hover {
  color: #3b5998 !important;
}

.liIcon:hover {
  color: #0077b5 !important;
}

.ghIcon:hover {
  color: #24292e !important;
}

.gmIcon:hover {
  color: #d14836 !important;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.is-divider {
  margin: 50px 0;
}

.footerLink-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;

  .footerLink {
    width: 500px;
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 321px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 960px) {
  .showcase-card {
    flex-direction: column;
    margin-bottom: 50px;

    &:nth-of-type(even) {
      flex-direction: column;
    }

    .showcase-img {
      width: 100%;
      margin-bottom: 20px;
    }

    .showcase-details {
      padding: 0;
    }
  }

  .showcase-card:last-child {
    margin-bottom: 0;
  }
}
